body {
  font-family: "Staatliches", cursive;
  background: rgb(241, 240, 240);
}
#profile-pic {
  width: 100;
  margin: 10;
  border-radius: 45%;
  padding: 5;
  border: 2px solid #000000;
}

.counters {
  width: 85;
  margin: 10;
  border-radius: 50%;
  padding: 5;
  border: 2px solid #ffffff;
}

.nav-link a {
  color: #f8f9fa;
}

.parallax {
  background-image: url("../images/pexels-photo-209235.jpeg");
  min-height: 200px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* The image used */
  background-image: url("../images/keys-workshop-mechanic-tools-162553.jpeg");

  /* Set a specific height */
  min-height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxMatrix {
  /* The image used */
  background-image: url("../images/matrix.jpeg");

  /* Set a specific height */
  min-height: 350px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dropclass {
  position: relative;
  z-index: 10000;
}

.footer {
  text-align: center;
  color: #eeeeee;
  background-color: #000000;
  min-height: 70px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.counterbtn a {
  color: black;
}

.facejumbo {
  min-width: 100%;
  min-width: 100vw;
  min-height: 100%;
  min-height: 100vh;
  background-color: #000000;
  /* position: relative; */
  color: rgb(21, 52, 5);
  background-image: url("../images/flowers.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.jumbotron {
  /* display: flex;
  text-overflow: hidden;
  margin: 0px;
  
  
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-size: cover; */
}

#particles-js {
  background: rgba(0, 10, 14, 0.8);

  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;

  background-size: cover;
  background-position: center;
  overflow: hidden;
}

nav {
  background-color: #eeeeee;
  width: 100%;
}

.navbar {
  margin-left: 1rem;
  width: 100%;
  float: none;
}

.navbar-brand {
  text-align: center;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.blurb {
  background: rgba(255, 255, 255, 0.217);
  background-size: 0rem;
}

.subtitle,
a {
  color: #ffffff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
