body {
  background-color: #eeeeee;
}

#profile-pic {
  width: 100;
  margin: 10;
  border-radius: 45%;
  padding: 5;
  border: 2px solid #000000;
}

.counters {
  width: 85;
  margin: 10;
  border-radius: 50%;
  padding: 5;
  border: 2px solid #ffffff;
}

.parallax {
  /* The image used */
  background-image: url("../images/pexels-photo-209235.jpeg");

  /* Set a specific height */
  min-height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* The image used */
  background-image: url("../images/keys-workshop-mechanic-tools-162553.jpeg");

  /* Set a specific height */
  min-height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dropclass {
  position: relative;
  z-index: 10000;
}

.footer {
  text-align: center;
  color: #eeeeee;
  background-color: #000000;
  min-height: 70px;
}
